.idea/
.idea/workspace.xml
'django.contrib.admin',
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/encodings.xml
/chequeo/.idea/
dashboard/__pycache__/
# Django stuff:
*.log
local_settings.py

# pyenv
.python-version

# dotenv
.env



env/
disquaire_project/disquaire_project/__pycache__
disquaire_project/store/__pycache__/
disquaire_project/store/management/
disquaire_project/store/migrations/__pycache__/

