{% extends 'base_dashboard_super.html' %}


{% block content %}

<div class="row">
  <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Alertas Sensores</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                    <ul class="list-unstyled timeline widget">
                      {% if lista_alertas %}

                          {% for alerta in lista_alertas %}
                              <li>
                                <div class="block">
                                  <div class="block_content">

                                      {% if 'fdr' in alerta.tipoAlerta %}
                                        <a href="/micros/{{alerta.idMicro}}/{{alerta.tipoEntidad}}"><h2 class="title"><strong>Fuera de Rango</strong></h2>
                                        <div class="byline">
                                          <p><strong>Id:</strong> {{alerta.idAlerta}} </p>
                                        </div>
                                        <p><strong>Variable:</strong> {{alerta.tipoEntidad}} </p>
                                        <p><strong>Promedio:</strong> {{alerta.promedio}} </p>
                                        <p><strong>Id microcontrolador:</strong> {{alerta.idMicro}} </p></a>
                                      {% elif 'fdl' in alerta.tipoAlerta  %}
                                        <a href="/micros/{{alerta.idMicro}}/{{alerta.tipoEntidad}}"><h2 class="title"><a><strong>Fuera de Línea</strong></h2>
                                        <div class="byline">
                                          <p><strong>Id:</strong> {{alerta.idAlerta}} </p>
                                        </div>
                                        <p><strong>Variable:</strong> {{alerta.tipoEntidad}} </p>
                                        <p><strong>Promedio:</strong> {{alerta.promedio}} </p>
                                        <p><strong>Id microcontrolador:</strong> {{alerta.idMicro}} </p></a>
                                      {%elif 'FueraDeRango' in alerta.tipoAlerta%}
                                        <a href="/micros/{{alerta.idMicro}}/{{alerta.tipoEntidad}}"><h2 class="title"><strong>Fuera de Rango</strong></h2>
                                        <div class="byline">
                                          <p><strong>Id:</strong> {{alerta.idAlerta}} </p>
                                        </div>
                                        <p><strong>Variable:</strong> {{alerta.tipoEntidad}} </p>
                                        <p><strong>Promedio:</strong> {{alerta.promedio}} </p>
                                        <p><strong>Id microcontrolador:</strong> {{alerta.idMicro}} </p></a>
                                        <p><strong>Id microcontrolador:</strong> {{alerta.idMicro}} </p></a>
                                      {% elif  'FueraDeLinea' in alerta.tipoAlerta %}
                                        <a href="/micros/{{alerta.idMicro}}/{{alerta.tipoEntidad}}"><h2 class="title"><a><strong>Fuera de Línea</strong></h2>
                                        <div class="byline">
                                          <p><strong>Id:</strong> {{alerta.idAlerta}} </p>
                                        </div>
                                        <p><strong>Variable:</strong> {{alerta.tipoEntidad}} </p>
                                        <p><strong>Promedio:</strong> {{alerta.promedio}} </p>
                                        <p><strong>Id microcontrolador:</strong> {{alerta.idMicro}} </p></a>


                                      {% endif %}


                                  </div>
                                </div>
                              </li>
                          {% endfor %}
                      {% else %}
                          <p>No hay alertas.</p>
                      {% endif %}
                    </ul>

                    <div class="pagination">
                        <span class="step-links">
                            {% if lista_alertas.has_previous %}
                                <a href="?page={{ lista_alertas.previous_page_number }}">Previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ lista_alertas.number }} of {{ lista_alertas.paginator.num_pages }}.
                            </span>

                            {% if lista_alertas.has_next %}
                                <a href="?page={{ lista_alertas.next_page_number }}">Next</a>
                            {% endif %}
                        </span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
</div>


{% endblock %}
