{% extends 'base_dashboard_super.html' %}


{% block content %}

<div class="row">
  <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Alertas</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                    <ul class="list-unstyled timeline widget">

                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Fuera de rango</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 13 minutos</span>
                            </div>
                            <p><strong>Variable:</strong> Temperatura </p>
                            <p><strong>Área:</strong>  2 </p>
                            <p><strong>Nivel:</strong> 1 </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Fuera de rango</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 19 minutos</span>
                            </div>
                            <p><strong>Variable:</strong> Luz </p>
                            <p><strong>Área:</strong>  4 </p>
                            <p><strong>Nivel:</strong> 2 </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Actuador Ineficiente</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 21 minutos</span>
                            </div>
                            <p><strong>Variable:</strong> CO2 </p>
                            <p><strong>Área:</strong>  1 </p>
                            <p><strong>Nivel:</strong> 4 </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Fuera de rango</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 39 minutos</span>
                            </div>
                            <p><strong>Variable:</strong> Ruido </p>
                            <p><strong>Área:</strong>  4 </p>
                            <p><strong>Nivel:</strong> 3 </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Fuera de línea</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 42 minutos</span>
                            </div>
                            <p><strong>Microcontrolador:</strong> 16 </p>
                            <p><strong>Área:</strong>  2 </p>
                            <p><strong>Nivel:</strong> 4 </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a><strong>Fuera de rango</strong></a>
                            </h2>
                            <div class="byline">
                              <span>Hace 54 minutos</span>
                            </div>
                            <p><strong>Variable:</strong> CO2 </p>
                            <p><strong>Área:</strong>  2 </p>
                            <p><strong>Nivel:</strong> 3 </p>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
</div>


{% endblock %}
