{% extends 'base_dashboard_super.html' %}


{% block content %}

{% load static %}
<link href="{%static 'build/css/style.css' %}" rel="stylesheet">

<div class="container">
  <div id="plan-boutiques"><img class="large-image" src="{% static 'build/images/map.jpg'%} "></img>
    <a href="" id="first_element"><p></p></a>
    <a href="" id="second_element"><p></p></a>
    <a href="" id="third_element"><p></p></a>
    <a href="" id="fourth_element"><p></p></a>
    <a href="" id="fifth_element"><p></p></a>
    <a href="" id="sixth_element"><p></p></a>
    <a href="" id="sev_element"><p></p></a>
    <a href="" id="eig_element"><p></p></a>
    <a href="" id="nin_element"><p></p></a>
    <a href="" id="ten_element"><p></p></a>
    <a href="" id="ele_element"><p></p></a>
    <a href="" id="twe_element"><p></p></a>
  </div>
</div>


{% endblock %}
