{% extends 'base_dashboard_super.html' %}


{% block content %}

{% load static %}
<link href="{%static 'build/css/style.css' %}" rel="stylesheet">
<!--
<div class="container">
  <div id="plan-boutiques"><img class="large-image" src="{% static 'build/images/map.jpg'%} "></img>
    <a href="" id="first_element"><p></p></a>
    <a href="" id="second_element"><p></p></a>
    <a href="" id="third_element"><p></p></a>
    <a href="" id="fourth_element"><p></p></a>
    <a href="" id="fifth_element"><p></p></a>
    <a href="" id="sixth_element"><p></p></a>
    <a href="" id="sev_element"><p></p></a>
    <a href="" id="eig_element"><p></p></a>
    <a href="" id="nin_element"><p></p></a>
    <a href="" id="ten_element"><p></p></a>
    <a href="" id="ele_element"><p></p></a>
    <a href="" id="twe_element"><p></p></a>
  </div>
</div>
-->
<div class="container">
<div class="x_content">
                  <h4>Número de sensores en alerta</h4>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Temperatura</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="1000" aria-valuemin="0" aria-valuemax="2500" style="width: {{porAlertasTemp}}%;">
                          <span class="sr-only"></span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{nAlertasTemp}}</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Gas</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="2500" style="width: {{porAlertasGas}}%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{nAlertasGas}}</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Luz</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="2500" style="width: {{porAlertasLuz}}%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{nAlertasLuz}}</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Sonido</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="2500" style="width:{{porAlertasRuido}}%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>{{nAlertasRuido}}</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
</div>



{% endblock %}
